{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="publications">
    <h2 class="title">Publications</h2>
    <div class="details">80+ peer-reviewed publications in journals and conferences, Citations: 754, h-index: 16, i-index: 27.  <a href="https://scholar.google.com/citations?user=hdsHN_EAAAAJ">GScholar</a>.</div>
    <div class="publication-items">
        {% for pub in publications%}
            <div class="publication-item">
                <div class="publication-title">
                    <a href="{{pub.link}}">{{pub.title}}</a>
                </div>
                <div class="authors">{{pub.authors}}</div>
                <div class="conference">{{pub.conference}}</div>   
            </div>
        {%endfor%}
    </div>
</section>
{% endif %}