{% assign scientificservice = site.data.data.scientificservice %}
{% if scientificservice %}
<section class="scientificservice">
    <h2 class="title">Scientific Community Service</h2>
    {% for sci in scientificservice %}
        <div class="project">
            <div class="role">
                {{sci.title}}
            </div>
            <!-- <span>
                <a class="project-link" href="{{sci.link}}">
                    {{sci.title}}
                </a>
            </span> -->
            <div class="details">{{sci.details}}</div>
        </div>
    {% endfor %}
</section>
{% endif %}