{% assign scientificservice = site.data.data.scientificservice %}
{% if scientificservice %}
<section class="scientificservice">
    <h2 class="title">Projects</h2>
    {% for sci in scientificservice %}
        <div class="project">
            <span>
                <a class="project-link" href="{{sci.link}}">
                    {{sci.title}}
                </a>
            </span>
            <span class="details">- {{sci.details}}</span>
        </div>
    {% endfor %}
</section>
{% endif %}